.component--post-title > a {
	font-weight: bold;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

.component--post-image {
    float: right;

}

.component--post-image > img {
	width: 220px;
	height: 140px;
	opacity: 0.4;
	padding: 20px;
	transition-duration: 2s;
	transition-property: opacity;
}

.component--post-image img:hover {
	opacity: 1;
}


.component--post-content > p{

font-size: 14px !important;

}

.component--post-link {

}