<div class="component-blog">
	<sly
		data-sly-use.blogStyle="/libs/granite/sightly/templates/clientlib.html"
		data-sly-call="${blogStyle.all @ categories='component.blog'}"
		data-sly-unwrap></sly>
	<h2 id="component--blog-title">Interesting Posts</h2>
	<div id="blog-parent" class="component-blogs" data-url-servlet="${currentNode.Path}.json">
	</div>
</div>
<script id="sly-blog-template" type="text/x-handlebars-template">
	{{#blogs}}
	<div class="jumbotron">
		<h2 class="component--post-title">
			<a target="_blank" href="{{url}}">{{title}}</a>
		</h2>
		{{#if imageUrl}}
		<div class="component--post-image">
			<img src="{{imageUrl}}" width="220" height="140" alt="image_post">
		</div>
		{{/if}}
		<div class="component--post-content">{{{content}}}</div>
		<p><a class="component--post-link" href="{{url}}"><span class="label label-default">More info</span></a></p>
	</div>
	{{/blogs}}
</script>
<!--
	===============Using Sling Models=============================================
	<ul class="component-blogs"
		data-sly-use.blog="com.globant.julian.cacharriando.core.models.BlogModel"
		data-sly-list.post="${blog.posts}">
		<div class="post-card mdl-card mdl-shadow--4dp">
			<div class="mdl-card__title">
				<h2 class="post-title mdl-card__title-text">
					<a target="_blank" href="${post.url}.html">${post.title}</a>
				</h2>
			</div>
			<div class="post-image mdl-card__media"
				data-sly-test="${'{{post.imageUrl}}'}">
				<img src="${post.imageUrl}" width="220" height="140"
					alt="image_post">
			</div>
			<div class="mdl-card__supporting-text">${post.content @
				context='html'}</div>
			<div class="mdl-card__actions mdl-card--border">
				<a target="_blank" href="${post.url}.html"
					class="post-link mdl-button mdl-js-button mdl-js-ripple-effect"> More
					info </a>
			</div>
		</div>
		<br>
		<br>
	</ul> -->